---
---

{% include header.html title="Our first date" %}
		<!-- First Date -->
			<section id="adventure_gallery" class="main style3 primary">
				<div class="content box container" style="background-color: rgba(255, 255, 255, 0.7);">
					<header>
						<h2>First Date!</h2>
					</header>
					
					<!--
						 Lightbox Gallery
						 
						 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
					-->
					<div class="container small gallery">
						<div class="row images">
							<div class="3u"><a href="/images/firstdate/14.JPG" class="image full"><img src="/images/firstdate/14.JPG" title="The Summer Palace" alt="Alt me" /></a></div>
							<div class="3u"><a href="/images/firstdate/15.JPG" class="image full"><img src="/images/firstdate/15.JPG" title="The Summer Palace" alt="Alt me" /></a></div>
							<div class="3u"><a href="/images/firstdate/16.JPG" class="image full"><img src="/images/firstdate/16.JPG" title="The Summer Palace" alt="Alt me" /></a></div>
							<div class="3u"><a href="/images/firstdate/20.JPG" class="image full"><img src="/images/firstdate/20.JPG" title="The Forbidden City" alt="Alt me" /></a></div>
						</div>



						<div class="row images">
							<div class="3u"><a href="/images/firstdate/18.JPG" class="image full"><img src="/images/firstdate/18.JPG" title="The Summer Palace" alt="Alt me" /></a></div>
							<div class="3u"><a href="/images/firstdate/19.JPG" class="image full"><img src="/images/firstdate/19.JPG" title="The Summer Palace" alt="Alt me" /></a></div>
							<div class="3u"><a href="/images/firstdate/20.JPG" class="image full"><img src="/images/firstdate/20.JPG" title="The Forbidden City" alt="Alt me" /></a></div>
							<div class="3u"><a href="/images/firstdate/23.JPG" class="image full"><img src="/images/firstdate/23.JPG" title="The Forbidden City" alt="Alt me" /></a></div>
						</div>



						<div class="row images">
							<div class="3u"><a href="/images/firstdate/23.JPG" class="image full"><img src="/images/firstdate/23.JPG" title="Tsing Park" alt="Alt me" /></a></div>
							<div class="3u"><a href="/images/firstdate/17.JPG" class="image full"><img src="/images/firstdate/17.JPG" title="The Summer Palace" alt="Alt me" /></a></div>
							<div class="3u"><a href="/images/firstdate/22.JPG" class="image full"><img src="/images/firstdate/22.JPG" title="The Forbidden City" alt="Alt me" /></a></div>
						</div>
					</div>
				</div>
			</section>	

{% include footer.html %}
