---
---

{% include header.html title="Life" %}
		<!-- First Date -->
			<section id="adventure_gallery" class="main style3 primary">
				<div class="content box container" style="background-color: rgba(255, 255, 255, 0.7);">
					<header>
						<h2>Life!</h2>
					</header>
					
					<!--
						 Lightbox Gallery
						 
						 Powered by poptrox. Full docs here: https://github.com/n33/jquery.poptrox
					-->
						<div class="container small gallery">
							<div class="row images">
								<div class="3u"><a href="/images/life/1.jpg" class="image full"><img src="/images/life/1.jpg" title="home" alt="Alt me" /></a></div>
								<div class="3u"><a href="/images/life/2.jpg" class="image full"><img src="/images/life/2.jpg" title="home" alt="Alt me" /></a></div>
								<div class="3u"><a href="/images/life/3.jpg" class="image full"><img src="/images/life/3.jpg" title="home" alt="Alt me" /></a></div>
								<div class="3u"><a href="/images/life/4.jpg" class="image full"><img src="/images/life/4.jpg" title="home" alt="Alt me" /></a></div>
							</div>


							<div class="row images">
								<div class="3u"><a href="/images/life/5.jpg" class="image full"><img src="/images/life/5.jpg" title="home" alt="Alt me" /></a></div>
								<div class="3u"><a href="/images/life/6.jpg" class="image full"><img src="/images/life/6.jpg" title="home" alt="Alt me" /></a></div>
								<div class="3u"><a href="/images/life/7.jpg" class="image full"><img src="/images/life/7.jpg" title="home" alt="Alt me" /></a></div>
							</div>
						</div>
				</div>
			</section>	

{% include footer.html %}
