<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ include.title }} | Albert and Ella were totally getting married!</title>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="The wedding page for Albert and Ella!" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<!--<body>-->

		<!-- Header -->

			<!--<header id="header">-->

				<!--&lt;!&ndash; Logo &ndash;&gt;-->
				<!--<h1 id="logo"><a href="/index.html">-->
					<!--<span >-->
						<!--<span class="monospace">Albert</span> <span class="fancy">& Ella</span>-->
					<!--</span>-->
				<!--</a></h1>-->
				<!---->
				<!--&lt;!&ndash; Nav &ndash;&gt;-->
					<!--<nav id="nav">-->
						<!--<ul>-->
							<!--<li><a href="/index.html">Home</a></li>-->
							<!--&lt;!&ndash;<li><a href="/engagement_photos.html">Engagement Photos</a></li>&ndash;&gt;-->
							<!--&lt;!&ndash;<li><a href="/guestbook.html">Guestbook</a></li>&ndash;&gt;-->
						<!--</ul>-->
					<!--</nav>-->

			<!--</header>-->

			<!--<section id="mobile_bar" class="main style1 dark mobile_only">-->
				<!--<div class="content container small">-->
					<!--<a href="/index.html">Home</a>-->
					<!--&lt;!&ndash;<a href="/engagement_photos.html">Engagement Photos</a>&ndash;&gt;-->
					<!--&lt;!&ndash;<a href="/guestbook.html">Guestbook</a>&ndash;&gt;-->
				<!--</div>-->
			<!--</section>-->
			

